@attribute [Authorize]
<section>
    <SfAppBar Role="button" Id="headerAppBar" ColorMode="AppBarColor.Primary">
        <SfButton CssClass="e-round e-outline e-info" OnClick="ToggleMenu">
            <SfIcon Name="IconName.Adjustment" Title="Open filter" Style="color: white" />
        </SfButton>
        <h3>Filter</h3>
        <AppBarSeparator />
        <h3 style="flex-grow: 1;">Claim list</h3>
        <AppBarSeparator />
        <UserPanel />
    </SfAppBar>
    <div id="main-container">
        <SfSidebar Position="SidebarPosition.Left" Target="#main-container" @bind-IsOpen="IsMenuOpen" Type="SidebarType.Push" EnableGestures="false">
            <ChildContent>
                <ClaimSearchForm OnFilterEvent="HandleFormSubmission" />
            </ChildContent>
        </SfSidebar>
        <div class="grid-stretch">
            <ClaimResultGrid @ref="ClaimResultGrid" OnOpenBladeEvent="HandleSideBar" />
        </div>
        <SfSidebar Position="SidebarPosition.Right" Target="#main-container" @bind-IsOpen="IsSideBarOpen" Type="SidebarType.Push">
            <ChildContent>
                <ClaimSummary claim="SelectedClaim" />
            </ChildContent>
        </SfSidebar>
    </div>
</section>
<style>
    #headerAppBar {
        column-gap: 16px;
    }

    #main-container {
        background-color: gainsboro;
        margin-top: 2px;
        display: flex;
        flex-basis: 100%;
    }
</style>
@code {
    private bool IsSideBarOpen { get; set; } = false;
    private bool IsMenuOpen { get; set; } = true;

    private ClaimSearchResponse? SelectedClaim { get; set; }
    private ClaimResultGrid? ClaimResultGrid { get; set; }

    private void ToggleMenu()
    {
        IsMenuOpen = !IsMenuOpen;
    }

    private async Task HandleFormSubmission(ClaimSearchFilter filter)
    {
        if (ClaimResultGrid is null) return;
        await ClaimResultGrid.ApplyFilterAsync(filter);
        IsSideBarOpen = false;
    }

    private void HandleSideBar(ClaimSearchResponse? claim)
    {
        SelectedClaim = claim;
        IsSideBarOpen = claim is not null;
    }
}