@inject SfDialogService dialogService
<a href="about" class="e-btn e-primary e-outline" title="about us">About Us</a>
<a href="settings" title="Settings" tabindex="-1">
    <SfButton type="button" CssClass="e-outline" Content="Settings" IconCss="e-icons e-settings" IsPrimary="true"></SfButton>
</a>
<a href="authentication/clear" class="e-btn e-info e-outline" title="browser Cache">Clear browser Cache</a>
<AuthorizeView>
    <Authorized Context="auth">
        <SfButton type="button" CssClass="e-outline" Content="QNXT" IconCss="e-icons e-critical-path" IsPrimary="true" OnClick="ShowDialog"></SfButton>
    </Authorized>
</AuthorizeView>
<div>
    &copy; @DateTime.UtcNow.ToString("yyyy") Microsoft
</div>
<div>
    WASM Version @(typeof(Program).Assembly.GetName().Version?.ToString(4))
</div>

@code {
    private async Task ShowDialog()
    {
        await dialogService.AlertAsync(null, "Search claims", new DialogOptions
        {
            CssClass = "popup-dialog",
            ShowCloseIcon = true,
            Height = "80vh",
            PrimaryButtonOptions = new DialogButtonOptions
            {
                Content = "Close", IconCss = "e-icons e-close"
            },
            ChildContent = builder =>
            {
                builder.OpenComponent<Client.Components.Claim.SearchView>(0);
                builder.CloseComponent();
            }
        });
    }
}