@page "/notfound"
@layout _Layout

<PageTitle>Not Found</PageTitle>

<section id="notfound-container">
    <SfCard CssClass="notfound-card" role="alert">
        <CardHeader>
            <h2>
                Not Found
            </h2>
        </CardHeader>
        <CardContent>
            <h1>Sorry, the content you are looking for does not exist.</h1>
        </CardContent>
    </SfCard>
</section>

<style>
    #notfound-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

        #notfound-container .notfound-card {
            max-width: 500px;
            width: 100%;
        }
</style>


<h3></h3>
