@if (claim is not null)
{
    <SfCard ID="claim-container" role="region">
        <CardContent>
            <h3>Claim Details:</h3>
            @foreach (var prop in claim.GetType().GetProperties())
            {
                <div>@prop.Name: @prop.GetValue(claim)</div>
            }
        </CardContent>
        <CardFooter>
            <input type="button" class="e-success e-outline" value="Attachments" onclick="Attachment('@claim.ClaimId')" />
        </CardFooter>
    </SfCard>
}
<style>
    #claim-container {
        border: 1px solid gray;
        padding: 5px;
        height: 100%;
        justify-content: unset;
    }
</style>
<script>
    async function Attachment(claimId)
    {
        await renderAttachment('Claim', claimId);
    }
</script>
@code {
    [Parameter] public ClaimSearchResponse claim { set; get; } = default!;
}