<SfCard id="navContainer" role="link">
    <CardContent>
        <a href="" title="Home page">
            <SfButton type="button" CssClass="e-outline" Content="Home" IconCss="e-icons e-home" IsPrimary="true"></SfButton>
        </a>
        <AuthorizeView Policy="Vendor">
            <Authorized>
                <a href="requests" title="Repair Requests">
                    <SfButton type="button" CssClass="e-outline" Content="Repair Requests" IconCss="e-icons e-align-center" IsPrimary="true"></SfButton>
                </a>
            </Authorized>
            <NotAuthorized>
                <a href="damage" title="Damage Report">
                    <SfButton type="button" CssClass="e-outline" Content="Damage Report" IconCss="e-icons e-critical-path" IsPrimary="true"></SfButton>
                </a>
                <a href="requests" title="Damage Tracking">
                    <SfButton type="button" CssClass="e-outline" Content="Tracking" IconCss="e-icons e-flags" IsPrimary="true"></SfButton>
                </a>
            </NotAuthorized>
        </AuthorizeView>
        <a href="profile" title="My Account">
            <SfButton type="button" CssClass="e-outline" Content="My Account" IconCss="e-icons e-user" IsPrimary="true"></SfButton>
        </a>
    </CardContent>
</SfCard>
<style>
    #navContainer .e-card-content {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        align-items: center;
        row-gap: 5px;
    }
</style>