<SfCard id="navContainer" role="link">
    <CardContent>
        <div>
            <a href="" title="Home page">
                <SfButton type="button" CssClass="e-outline" Content="Home" IconCss="e-icons e-home" IsPrimary="true"></SfButton>
            </a>
        </div>
        <AuthorizeView Policy="Vendor">
            <Authorized>
                <div>
                    <a href="requests" title="Repair Requests">
                        <SfButton type="button" CssClass="e-outline" Content="Repair Requests" IconCss="e-icons e-level-3" IsPrimary="true"></SfButton>
                    </a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div>
                    <a href="damage" title="Damage Report">
                        <SfButton type="button" CssClass="e-outline" Content="Damage Report" IconCss="e-icons e-critical-path" IsPrimary="true"></SfButton>
                    </a>
                </div>
                <div>
                    <a href="requests" title="Damage Tracking">
                        <SfButton type="button" CssClass="e-outline" Content="Tracking" IconCss="e-icons e-flags" IsPrimary="true"></SfButton>
                    </a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <div>
            <a href="profile" title="My Account">
                <SfButton type="button" CssClass="e-outline" Content="My Account" IconCss="e-icons e-user" IsPrimary="true"></SfButton>
            </a>
        </div>
    </CardContent>
</SfCard>
<style>
    #navContainer .e-card-content {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        align-items: center;
    }
</style>