@using Microsoft.Extensions.AI;

@inject ToastService toastService
@inject IChatClient client

<section id="ai-container">
    <SfAppBar id="switch-container">
        <h2>
            AI assistant
        </h2>
    </SfAppBar>
    <SfCard Id="pre-line">
        <CardContent>
            @messageResponse.ToString()
        </CardContent>
    </SfCard>
    <div class="wdr-container" style="flex-grow: 1;">
        <SfTextBox @bind-Value="MessageText" Multiline="true"
                   Placeholder="Start typing..." FloatLabelType="FloatLabelType.Auto" ShowClearButton="true"
                   InputAttributes="@(new Dictionary<string, object> {{ "rows", "8" }})" />
        <div @onclick:preventDefault>
            <SfSpeechToText @bind-Transcript="MessageText" CssClass="e-info e-outline" />
        </div>
    </div>
    <div>
        <SfButton type="button" CssClass="e-primary" IconCss="e-icons e-ai-chat" OnClick="Communicate" style="height:56px;" title="Ask AI" Content="Get Response">
        </SfButton>
    </div>
</section>
<style>
    #ai-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

        #ai-container #switch-container {
            padding-bottom: 5px;
            margin-bottom: 5px;
            border-bottom: 1px solid gray;
        }

        #ai-container #pre-line .e-card-content {
            white-space: pre-line;
        }
</style>

@code {
    private string MessageText { set; get; } = default!;
    private readonly StringBuilder messageResponse = new();

    protected override async Task OnInitializedAsync()
    {
    }

    private async Task Communicate()
    {
        try
        {
            var response = await client.GetResponseAsync(MessageText);

            messageResponse.Append(response);
        } catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }
}