@page "/claim"
@rendermode InteractiveAuto
@attribute [Authorize]

@inject SfDialogService dialogService

<section>
    <a href="claim" title="New Claims">
        <SfButton type="button" CssClass="e-outline" Content="Claims" IconCss="e-icons e-critical-path" IsPrimary="true" OnClick="ShowDialog"></SfButton>
    </a>
</section>

@code {
    [CascadingParameter(Name = CascadingParams.MediaQuery)] public bool IsDesktopView { get; set; }

    private async Task ShowDialog()
    {
        await dialogService.AlertAsync(null, "Search claims", new DialogOptions
        {
            CssClass = "popup-dialog",
            ShowCloseIcon = true,
            Height = "80%",
            PrimaryButtonOptions = new DialogButtonOptions
            {
                Content = "Close", IconCss = "e-icons e-close"
            },
            ChildContent = builder =>
            {
                builder.OpenComponent<Shared.Components.Claim.SearchView>(0);
                builder.CloseComponent();
            }
        });
    }
}