@page "/repairrequests"
@attribute [Authorize(Policy = "Vendor")]
@inject IVendorRepo vendorRepo

<PageTitle>Repair Requests | Property Claims</PageTitle>
<section>
    @if (damageList != null)
    {
        foreach (var item in damageList)
        {
            <DamageInfo DamageContext="@item"></DamageInfo>
        }
    }
</section>
@code {
    IReadOnlyList<DamageEntry> damageList { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        damageList = await vendorRepo.ListDamageVendorEntriesAsync(CancellationToken.None);
    }
}