@page "/vendorprofile"
@attribute [Authorize(Policy = "Vendor")]

<PageTitle>Vendor Profile | Property Claims</PageTitle>

<div>
    Hello Vendor
</div>
@code {
    protected override async Task OnInitializedAsync()
    {
    }
}