<div class="spread-across">
    <VendorSearch DamageContext="DamageContext"></VendorSearch>
    <SfButton type="button" OnClick="OnChat" IconCss="e-icons e-comment-show" IconPosition="IconPosition.Right" IsPrimary="true"
              CssClass="e-outline"
              Content="Chat" title="Chat with Vendor">
    </SfButton>
</div>
@code {
    [Parameter] public DamageEntry DamageContext { get; set; } = default!;
    [Parameter] public EventCallback<DamageEntry> OnToggleBladeEvent { get; set; }

    private async Task OnChat()
    {
        await OnToggleBladeEvent.InvokeAsync(DamageContext);
    }
}