<div class="spread-across">
    <SfButton type="button"
              OnClick="OnSubmit"
              IconCss="e-icons e-check"
              CssClass="@(DamageContext.StatusId > DamageStatus.VendorAssigned ? "" : "e-outline")"
              IconPosition="IconPosition.Right" IsPrimary="true"
              Content="@(DamageContext.StatusId > DamageStatus.VendorAssigned ? "Confirm Service" : "Pending Completion")" title="Proceed with Service">
    </SfButton>
    <SfButton type="button" OnClick="OnChat" IconCss="e-icons e-comment-show" IconPosition="IconPosition.Right" IsPrimary="true"
              CssClass="e-outline"
              Content="Chat" title="Chat with Customer">
    </SfButton>
</div>
@code {
    [Parameter] public DamageEntry DamageContext { get; set; } = default!;
    [Parameter] public EventCallback<DamageEntry> OnSubmitEvent { get; set; }
    [Parameter] public EventCallback<DamageEntry> OnToggleBladeEvent { get; set; }

    private async Task OnSubmit()
    {
        await OnSubmitEvent.InvokeAsync(DamageContext);
    }

    private async Task OnChat()
    {
        await OnToggleBladeEvent.InvokeAsync(DamageContext);
    }
}