@page "/damage"
@rendermode InteractiveAuto
@attribute [AllowAnonymous]

<PageTitle>Start Property Damage Claim | Repair Estimates & Insurance Claim Assistance | Property Claims</PageTitle>

<HeadContent>
    <meta name="description" content="Start your property damage claim online, provide damage details, connect with local contractors, and move through the insurance claim process with PropertyClaims." />

    <link rel="canonical" href="https://www.propertyclaims.com/damage" />

    <meta property="og:title" content="Start Property Damage Claim | Repair Estimates & Insurance Claim Assistance | Property Claims" />
    <meta property="og:description" content="Start your property damage claim online, provide damage details, connect with local contractors, and move through the insurance claim process with Property Claims." />
    <meta property="og:url" content="https://www.propertyclaims.com/damage" />
</HeadContent>

<section>
    <SfAppBar role="region">
        <h1>Start Your Property Damage Claim</h1>
        @if (IsDesktopView)
        {
            <h2>
                Provide a few details below to get repair estimates and connect with local contractors
            </h2>
        }
        <SfButton CssClass="e-round e-outline" IconCss="e-icons e-ai-chat" IsPrimary="true" OnClick="toggleBar" title="Smart Assist">
        </SfButton>
    </SfAppBar>
    <div id="damage-container">
        <div class="fade-in">
            <Submission></Submission>
        </div>
    </div>
    <SfSidebar ID="side-bar-blade" @bind-IsOpen="isSideBarOpen" Width="@(IsDesktopView ? "30vw" : "")"
               Type="(IsDesktopView ? SidebarType.Push : SidebarType.Over)" Target="#damage-container"
               Position="SidebarPosition.Right">
        <ChildContent>
            <AIChat></AIChat>
        </ChildContent>
    </SfSidebar>
</section>
<style>
    #side-bar-blade {
        border: solid 1px grey;
        border-radius: 8px;
        padding: 10px 15px 10px 15px;
    }
</style>
@code {
    [CascadingParameter(Name = CascadingParams.MediaQuery)] private bool IsDesktopView { get; set; }

    private bool isSideBarOpen { get; set; } = false;
    private void toggleBar() => isSideBarOpen = !isSideBarOpen;
}