@inject IJSRuntime jSRuntime

<SfCard ID="map-container2" CssClass="map-container">
    <gmp-map role="region" aria-labelledby="map-label"></gmp-map>
    <label id="map-label">@Placename</label>
</SfCard>
<style>
    #map-container2 {
        height: 160px;
    }

    #map-label {
        border-bottom: 1px solid gray;
    }
</style>

@code {
    [Parameter] public double? Latitude { get; set; }
    [Parameter] public double? Longitude { get; set; }
    [Parameter] public string Placename { get; set; } = default!;

    private double? _latitude;
    private double? _longitude;
    private bool _mapNeedsUpdate;

    protected override void OnParametersSet()
    {
        if (Latitude == _latitude && Longitude == _longitude)
            return;

        _latitude = Latitude;
        _longitude = Longitude;
        _mapNeedsUpdate = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!_mapNeedsUpdate) return;

        if (!_latitude.HasValue || !_longitude.HasValue) return;

        _mapNeedsUpdate = false;

        await jSRuntime.InvokeVoidAsync("googleMap.initMap", "#map-container2 > gmp-map", _latitude.Value, _longitude.Value, 16);
    }
}