

$header-font-weight: 600 !default;
$multicolumn-grid-height: 36px !default;
$multicolumn-margin-top-value: unset !default;
$footer-border-width: 1px 0 0 0 !default;
$grid-border-width: 1px !default;
$multicolumn-popup-border-radius: 0 !default;

$multicolumn-grid-small-height: 32px !default;
$multicolumn-margin-top-small-value: unset !default;

$multicolumn-grid-bigger-height: 40px !default;
$multicolumn-margin-top-bigger-value: unset !default;

$multicolumn-grid-bigger-small-height: 38px !default;
$multicolumn-margin-top-bigger-small-value: unset !default;

$footer-border-color: $neutral-light !default;
$popup-text-color: $theme-primary !default;
$grid-content-color: $neutral-light-fontalt !default;
$grid-content-hover-bg-color: $neutral-lighter !default;
$grid-content-active-bg-color: $theme-lighter !default;
$grid-content-active-color: $neutral-primary !default;
$grid-footer-bg-color: $neutral-white !default;
$grid-footer-color: $theme-primary !default;
$grid-group-content-header-color: $theme-primary !default;
$grid-group-content-header-bg-color: $neutral-white !default;
$grid-header-content-bg-color: $neutral-lighter !default;
$grid-header-content-color: $theme-primary !default;
$altrow-bg-color: $neutral-lighter-alt !default;
$popup-box-shadow: 0 .6px 1.8px 0 rgba($shadow, .1), 0 3.2px 7.2px 0 rgba($shadow, .13) !default;
$nodata-bg-color: $neutral-white !default;
$nodata-border-color: $neutral-white !default;

@mixin multicolumn-combobox-styles($margin-top-value) {
  &.e-multicolumn-list {
    margin-top: $margin-top-value;
  }
}

@include export-module('multicolumn-combobox-layout') {
  .e-multicolumn-list-icon .e-spinner-pane .e-spinner-inner svg {
    /* stylelint-disable declaration-no-important */
    height: 20px !important;
    width: 20px !important;
    transform-origin: 10px 10px 10px !important;
    /* stylelint-enable declaration-no-important */
  }
  .e-multicolumn-grid tr.e-groupcaptionrow {
    position: sticky;
    top: 0;
    .e-groupcaption {
      font-weight: 600;
    }
  }
  .e-multicolumn-grid th.e-grouptopleftcell.e-lastgrouptopleftcell,
  .e-multicolumn-grid th.e-grouptopleftcell.e-lastgroupleftcell,
  .e-multicolumn-grid td.e-recordplusexpand,
  .e-multicolumn-grid td.e-indentcell,
  .e-multicolumn-grid col.e-group-intent,
  .e-multicolumn-list .e-no-records + .e-grid {
    display: none;
  }
  .e-multicolumn-grid td.e-rowcell{
    cursor: default;
  }

  .e-multicolumn-grid.e-rtl .e-gridheader {
    @if ($skin-name == 'highcontrast') {
      .e-headercelldiv {
        margin: 0;
      }
    }
  }

  .e-multicolumn-grid .e-gridheader .e-headercelldiv {
    overflow: hidden;
  }
  .e-multicolumn-list .e-popup-footer {
    vertical-align: middle;
    border-style: solid;
    border-width: $footer-border-width;
    font-size: 14px;
    height: $multicolumn-grid-height;
    display: flex;
    align-items: center;
    border-radius: 0 0 $multicolumn-popup-border-radius $multicolumn-popup-border-radius;
  }
  .e-multicolumn-list .e-multicolumn-list-hidden {
    border: 0;
    height: 0;
    padding: 0;
    visibility: hidden;
    width: 0;
  }
  .e-multicolumn-grid.e-grid {
    border-width: $grid-border-width;
    border-radius: $multicolumn-popup-border-radius;
    .e-gridcontent {
      border-radius: 0 0 $multicolumn-popup-border-radius $multicolumn-popup-border-radius;
    }
  }
  .e-input-group.e-multicolumn-list {
    input[readonly].e-input {
      pointer-events: none;
    }
  }
  .e-multicolumn-list {
    &:has(.e-popup-footer) {
      .e-multicolumn-grid.e-grid {
        border-radius: $multicolumn-popup-border-radius $multicolumn-popup-border-radius 0 0;
        .e-gridcontent {
          border-radius: 0;
        }
      }
    }
    &.e-icon-anim .e-multicolumn-list-icon::before {
      transform: rotate(180deg);
    }
    &:not(.e-icon-anim) .e-multicolumn-list-icon::before {
      transform: rotate(0deg);
    }
    .e-multicolumn-list-icon::before {
      transition: transform 300ms ease;
    }
  }
  .e-multicolumn-grid .e-grid {
    overflow: auto;
  }
  .e-multicolumn-grid .e-row,
  .e-multicolumn-grid .e-emptyrow {
    height: $multicolumn-grid-height;
  }
  .e-multicolumn-group .e-sortnumber {
    display: none;
  }
  .e-popup.e-multicolumn-list {
    position: absolute;
    border-radius: $multicolumn-popup-border-radius;
    margin-top: $multicolumn-margin-top-value;
    .e-nodata {
      cursor: default;
      font-family: inherit;
      font-size: 14px;
      padding: 14px 16px;
      text-align: center;
      border-radius: inherit;
    }
    .e-headertext {
      font-weight: $header-font-weight;
    }
    .e-gridheader {
      position: sticky;
      top: 0;
      z-index: 1;
      border-radius: $multicolumn-popup-border-radius $multicolumn-popup-border-radius 0 0;
    }
  }

  .e-multicolumn-grid .e-headercontent {
    border-right-color: transparent; /* stylelint-disable-line declaration-no-important */
  }

  .e-multicolumn-grid.e-rtl .e-headercontent {
    border-left-color: transparent; /* stylelint-disable-line declaration-no-important */
  }

  .e-multicolumn-grid .e-content {
    overflow: auto !important; /* stylelint-disable-line declaration-no-important */
  }

  .e-multicolumn-container .e-input-group-icon.e-multicolumn-list-icon.e-ddl-disable-icon,
  .e-multicolumn-list.e-input-group .e-input-group-icon {
    position: relative;
  }

  .e-small.e-popup,
  .e-small .e-popup {
    .e-multicolumn-grid .e-headercelldiv,
    .e-multicolumn-grid .e-rowcell,
    &.e-multicolumn-list .e-popup-footer {
      font-size: 12px;
    }
    &.e-multicolumn-list .e-popup-footer,
    .e-multicolumn-grid .e-row,
    .e-multicolumn-grid .e-emptyrow {
      height: $multicolumn-grid-small-height;
    }
    @include multicolumn-combobox-styles($multicolumn-margin-top-small-value);
  }
}


@include export-module('multicolumn-combobox-theme') {
  .e-multicolumn-list .e-popup-footer {
    background: $grid-footer-bg-color;
    color: $grid-footer-color;
    border-color: $footer-border-color;
  }
  .e-input-group.e-multicolumn-list:focus-visible {
    outline: transparent;
  }
  .e-popup.e-multicolumn-list {
    background: transparent;
    box-shadow: $popup-box-shadow;
    .e-nodata {
      color: $popup-text-color;
      border: 1px solid $nodata-border-color;
      background: $nodata-bg-color;
    }
    .e-multicolumn-grid .e-rowcell {
      color: $grid-content-color;
    }
    .e-multicolumn-grid .e-focused {
      box-shadow: none;
    }
    .e-gridhover .e-row:hover .e-rowcell:not(.e-active),
    .e-gridcontent .e-row-focus {
      background: $grid-content-hover-bg-color !important; /* stylelint-disable-line declaration-no-important */
    }
    .e-multicolumn-grid td.e-active {
      background: $grid-content-active-bg-color;
      color: $grid-content-active-color;
    }
    .e-groupcaption {
      color: $grid-group-content-header-color;
      background: $grid-group-content-header-bg-color;
    }
    .e-gridheader,
    .e-gridheader colgroup {
      background: $grid-header-content-bg-color;
    }
    .e-altrow {
      background: $altrow-bg-color;
    }
    .e-grid .e-headercell {
      background-color: unset;
    }
    .e-headertext,
    .e-grid th.e-headercell[aria-sort = 'ascending'] .e-headertext,
    .e-grid th.e-headercell[aria-sort = 'descending'] .e-headertext {
      color: $grid-header-content-color;
    }
  }
}


@include export-module('multicolumncombobox-fabric-icons') {
  .e-input-group.e-control-wrapper .e-multicolumn-list-icon::before {
    content: '\e966';
    font-family: 'e-icons';
  }
}