@inject IChatClient client
@inject ToastService toastService

<section id="ai-container">
    <h2>
        Smart Assistant <SfIcon Name="IconName.AIChat" Size="IconSize.Large" Title="Smart Assist"></SfIcon>
    </h2>
    <div class="chat-card">
        @if (Messages.Count > 0)
        {
            @foreach (var message in Messages)
            {
                <div>@((MarkupString)message)</div>
            }
        }
    </div>
    <div style="flex-grow:1"></div>
    <div class="wdr-container">
        <SfTextBox @bind-Value="MessageText"
                   Multiline="true"
                   Placeholder="Start asking..."
                   FloatLabelType="FloatLabelType.Always"
                   ShowClearButton="true"
                   InputAttributes="@(new Dictionary<string, object>{{ "rows", "8" }})" />
        <div @onclick:preventDefault style="align-self: center">
            <SfSpeechToText @bind-Transcript="MessageText" CssClass="e-info e-outline" />
        </div>
    </div>
    <SfButton type="button"
              CssClass="e-primary"
              IconCss="e-icons e-ai-chat"
              OnClick="CommunicateAsync"
              title="Ask AI"
              Content="Get Response" />
</section>

<style>
    #ai-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: 8px;
    }

        #ai-container .chat-card {
            display: flex;
            flex-direction: column;
            max-height: 80%;
            overflow-y: auto;
            border-top: 1px solid gray;
            padding-top: 14px;
        }

            #ai-container .chat-card > div {
                padding-bottom: 3px;
            }
</style>

@code {
    private string MessageText { get; set; } = string.Empty;
    private List<string> Messages { get; set; } = [];

    private async Task CommunicateAsync()
    {
        if (string.IsNullOrWhiteSpace(MessageText))
        {
            return;
        }
        try
        {
            Messages.Insert(0, $"You: <i>{MessageText}</i>");
            var response = await client.GetResponseAsync(MessageText);
            Messages.Insert(0, $"<strong>AI:</strong> {response}");
            MessageText = string.Empty;
        } catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }
}