<div id="user-container">
    <AuthorizeView>
        <Authorized Context="auth">
            <div>
                @{
                    var name = auth.User.Identity?.Name;
                    if (!string.IsNullOrEmpty(name))
                    {
                        <div>
                            Welcome, @name
                        </div>
                    }
                }
            </div>
            <div>
                <a href="authentication/signout" title="Sign Out" tabindex="-1">
                    <SfButton type="button" CssClass="e-outline" Content="Sign Out" IconCss="e-icons e-export" IconPosition="IconPosition.Right"></SfButton>
                </a>
            </div>
        </Authorized>
        <NotAuthorized>
            <div>
                Welcome, guest!
            </div>
            <div>
                <a href="profile" title="Sign in" tabindex="-1">
                    <SfButton type="button" CssClass="e-outline" Content="Sign in" IconCss="e-icons e-import" IconPosition="IconPosition.Right"></SfButton>
                </a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>
<style>
    #user-container {
        display: flex;
        gap: 10px;
        align-items: center;
    }
</style>